@import "tailwindcss";
#root {
 font-family: "Inter",sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
}
/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
